:root {
  --black: #17252a;
  --dark-green: #2b7a78;
  --green: #3aafa9;
  --green-hover: #57cfc8;
  --light-green: #def2f1;
  --very-light-green: #f1f9f9;
  --light-gray: rgba(0, 0, 0, 0.1);
  --gray: rgba(0, 0, 0, 0.55);
  --white: #feffff;
}

.link {
  color: var(--green);
  font-size: 0.9em;
}

#editor-container .ql-container {
  border-radius: 0 0 5px 5px;
  border-top: none;
  border-color: var(--light-gray);
}

.toolbar {
  border-color: var(--light-gray) !important;
  border-radius: 5px 5px 0 0;
}

.h-line {
  width: 45%;
  height: 1px;
  background-color: var(--gray);
}

.login-provider-card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--light-gray);
  background-color: var(--white);
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 100ms;
  text-decoration: none;
  color: var(--black);
}
.login-provider-card:hover {
  filter: brightness(95%);
}

.auth-ilustration {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 65vh;
  /* width: 50vw; */
  object-fit: contain;
  padding: 0.5rem;
}

.nav-link {
  text-decoration: none;
  font-weight: 500;
  color: var(--white);
  transition-duration: 100ms;
}

.nav-link:hover {
  text-decoration: underline;
}

#user-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  background: var(--white);
  width: 18rem;
  top: 5rem;
  left: calc(100% - 19rem);
  border: 1px solid var(--light-gray);
  border-radius: 5px;
  padding: 1rem;
}

.user-menu-link {
  display: flex;
  gap: 1rem;
  align-items: center;
  border-top: 1px solid var(--light-gray);
  transition-duration: 300ms;
  padding: 0 0.5rem;
  cursor: pointer;
}
.user-menu-link:hover {
  backdrop-filter: brightness(95%) !important;
}

.home-ilustration {
  height: 70vh;
  width: 50vw;
  object-fit: contain;
  padding: 0 1rem;
}

#home-list {
  color: var(--gray);
  font-weight: 500;
  font-size: x-large;
}

#why-us-skew {
  z-index: -10;
}

.footer-link {
  color: #a0a5a2;
  text-decoration: none;
  transition-duration: 100ms;
}
.footer-link:hover {
  color: var(--white);
}

.fade-in {
  animation: fade-in 750ms forwards;
}

@keyframes fade-in {
  0% {
    transform: translateY(-5rem);
    opacity: 0.15;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.move-down {
  position: relative;
  cursor: pointer;
  transition-duration: 0.15s;
  -webkit-transition-duration: 0.15s; /* Safari */
}

.move-down:active {
  top: 2px;
}

.quill-result h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}
.quill-result .ql-size-small {
  font-size: small;
}
.quill-result .ql-size-medium {
  font-size: medium;
}
.quill-result .ql-size-large {
  font-size: large;
}
.quill-result ol {
  list-style-type: decimal;
  padding-left: 1.75rem;
}
.quill-result ul {
  list-style-type: disc;
  padding-left: 1.75rem;
}
.quill-result a {
  color: var(--green);
}
.quill-result img {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  max-width: 100%;
}
.quill-result pre {
  background-color: #23241f;
  color: #f8f8f2;
  border-radius: 0.25rem;
  font-size: medium;
  padding: 0.45rem;
  font-family: monospace;
  overflow-x: scroll;
  white-space: pre-wrap;
}

.quill-result pre #text {
  color: red;
}

.heroicon {
  height: 30px;
  cursor: pointer;
  position: relative;
  cursor: pointer;
  transition-duration: 0.15s;
  -webkit-transition-duration: 0.15s; /* Safari */
}
.heroicon:active {
  top: 2px;
}
